@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root{
    --black: #000;
    --offWhite: #f2f2f2;
    --grey: #e6e6e6;
    --offPurple: #9e89b8;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'dosis', Courier, monospace ;
    background-color: var(--offWhite);
    color: var(--black);
    overflow: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.header-container{
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    height: 3em;
}

.pointer{
    cursor: pointer;
    color: var(--black);
}
.header-items-middle .header-spacing{
    margin-left: 20px;
}

.header-items-middle .header-spacing:hover{
    background-color: var(--grey);
}

.header-items-right{
    border: 1px solid var(--black);
    padding: 5px 10px;
    border-radius: 9px;
}

.header-items-right:hover{
    background-color: var(--grey);
}

.header-items-right a{
    color: black;
}

.section-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    align-items: flex-start;
    justify-content: center; 
    color: var(--offWhite);
    background: var(--offPurple) url("/Assets/Images/city.jpg") no-repeat;
    background-blend-mode: luminosity;
    background-size: 100%;
}

.section-items{
    margin: 0 0 0 7rem;
}

.section-items h1{
    font-size: 35px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0 2rem
}

.space{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.space:hover{
    background-color: var(--grey);
}

@media (max-height: 850px){
    body{
        overflow: scroll;
    }
}

@media (max-width: 1454px){
    .section-container{
        background-size: auto;
    }
}